html, body {
    width: 100%;
    height: 100%;
    position: relative;
    color: #2F2D2B;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

p {
    line-height: 1.5em;
}

.link {
    text-decoration: none;
    color: #2F2D2B;
    font-weight: 700;
    font-size: 16px;
}

.container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1.name {
    font-size: 64px;
    font-weight: 400;
    color: #2D2D37;
    margin: 20px;
}

.container .content {
    width: 55%;
    margin: 25px auto;
    padding: 0;
}
.info {
    color: #E27A3F;
}

.social-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.social-list li {
    display: inline-block;
    margin: 10px 15px;
}

.social-list li > a {
    width: 40px;
    height: 40px;
}

.social-img {
    width: 40px;
    height: 40px;
}

.social-img:hover {
    transform: scale(1.10);
}
